USE [master]
GO
/****** Object:  Database [BrazsToursTravelAgencyDB]    Script Date: 25/05/2025 21:22:17 ******/
CREATE DATABASE [BrazsToursTravelAgencyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BrazsToursTravelAgencyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BrazsToursTravelAgencyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BrazsToursTravelAgencyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BrazsToursTravelAgencyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BrazsToursTravelAgencyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BrazsToursTravelAgencyDB]
GO
/****** Object:  Table [dbo].[AgeGroup]    Script Date: 25/05/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgeGroup](
	[AgeGroupID] [int] IDENTITY(1,1) NOT NULL,
	[AgeGroupDescription] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AgeGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 25/05/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
	[GenderID] [int] NOT NULL,
	[AgeGroupID] [int] NOT NULL,
	[TourID] [int] NOT NULL,
	[NumberOfParticipants] [int] NOT NULL,
	[TourDate] [date] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[SpecialComments] [nvarchar](1000) NULL,
	[TermsAccepted] [bit] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 25/05/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[GenderDescription] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 25/05/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentDescription] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 25/05/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](100) NOT NULL,
	[TourDescription] [nvarchar](500) NULL,
	[TourPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AgeGroup] ON 

INSERT [dbo].[AgeGroup] ([AgeGroupID], [AgeGroupDescription]) VALUES (1, N'Under 18')
INSERT [dbo].[AgeGroup] ([AgeGroupID], [AgeGroupDescription]) VALUES (2, N'18-35')
INSERT [dbo].[AgeGroup] ([AgeGroupID], [AgeGroupDescription]) VALUES (3, N'36-60')
SET IDENTITY_INSERT [dbo].[AgeGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [FullName], [Email], [PhoneNumber], [GenderID], [AgeGroupID], [TourID], [NumberOfParticipants], [TourDate], [PaymentMethodID], [SpecialComments], [TermsAccepted], [TotalPrice]) VALUES (9, N'Thiago Rangel Braz', N'thiago_braz@ymail.com', N'0838760781', 1, 1, 4, 1, CAST(N'2025-05-22' AS Date), 1, NULL, 1, CAST(40.00 AS Decimal(10, 2)))
INSERT [dbo].[Booking] ([BookingID], [FullName], [Email], [PhoneNumber], [GenderID], [AgeGroupID], [TourID], [NumberOfParticipants], [TourDate], [PaymentMethodID], [SpecialComments], [TermsAccepted], [TotalPrice]) VALUES (10, N'Thiago Rangel Braz', N'thiago_braz@ymail.com', N'0838760781', 1, 4, 5, 2, CAST(N'2025-05-26' AS Date), 3, N'hello', 1, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Booking] ([BookingID], [FullName], [Email], [PhoneNumber], [GenderID], [AgeGroupID], [TourID], [NumberOfParticipants], [TourDate], [PaymentMethodID], [SpecialComments], [TermsAccepted], [TotalPrice]) VALUES (11, N'Thiago Rangel Braz', N'thiago_braz@ymail.com', N'0838760781', 1, 1, 5, 2, CAST(N'2025-05-29' AS Date), 1, N'hello', 1, CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [GenderDescription]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([GenderID], [GenderDescription]) VALUES (2, N'Female')
INSERT [dbo].[Gender] ([GenderID], [GenderDescription]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [PaymentDescription]) VALUES (1, N'Credit Card')
INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [PaymentDescription]) VALUES (2, N'Debit Card')
INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [PaymentDescription]) VALUES (3, N'PayPal')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

INSERT [dbo].[Tour] ([TourID], [TourName], [TourDescription], [TourPrice]) VALUES (1, N'Wicklow Mountains', N'A scenic tour through the Wicklow mountains', CAST(60.00 AS Decimal(10, 2)))
INSERT [dbo].[Tour] ([TourID], [TourName], [TourDescription], [TourPrice]) VALUES (2, N'Cliffs of Moher', N'Explore the famous cliffs of Ireland', CAST(70.00 AS Decimal(10, 2)))
INSERT [dbo].[Tour] ([TourID], [TourName], [TourDescription], [TourPrice]) VALUES (3, N'Giant''s Causeway', N'Discover the legendary natural wonder', CAST(80.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([AgeGroupID])
REFERENCES [dbo].[AgeGroup] ([AgeGroupID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([TourID])
GO
USE [master]
GO
